/*------------------------------------
9. Features
------------------------------------*/

#cps-features {
    .cps-section-header {
        margin-bottom: 25px;
    }
    .features-side-img {
        margin-top: 10px;
    }
}

.feature-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        line-height: 3rem;
        span {
            font-size: 1.5rem;
            margin-right: 10px;
            width: 15px;
        }
    }
}


/*** Mocked featured ***/

.mocked-features {
    zoom: 1;
    overflow: hidden;
    position: relative;
    .feature-item {
        margin-top: 22px;
        +.feature-item {
            margin-top: 25px;
        }
        .feature-icon {
            font-size: 3rem;
            line-height: 1;
            span {
                line-height: 1;
            }
        }
        .feature-title {
            font-size: 1.8rem;
            margin-top: 15px;
            margin-bottom: 0;
        }
        p {
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
    .col-md-4:first-child .feature-item {
        text-align: right;
    }
}


/*** Mocked featured 2 ***/
.mocked-features {
    &.style-2 {
        margin-bottom: -40px;
        .cps-section-title{
            font-size: 4.8rem;
        }
        .feature-item {
            float: left;
            width: 100%;
            + .feature-item{
                margin-top: 60px;
            }
            .feature-icon {
                border-radius: 50%;
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
                width: 70px;
                height: 70px;
                line-height: 70px;
                text-align: center;
                font-size: 2.6rem;
                float: left;
                margin-right: 30px;
                span {
                    line-height: inherit;
                }
                + .feature-body{
                    width: calc(100% - 100px);
                    margin-top: -7px;
                }
            }
            .feature-body{
                width: 100%;
                float: left;
                .feature-title{
                    margin-top: 0;
                    font-size: 2.2rem;
                    font-weight: 400;
                }
            }
        }
    }
}

/*** Mocked featured 3 ***/
.mocked-features {
    &.style-3 {
        margin-bottom: -40px;
        .cps-section-title{
            font-size: 4.8rem;
        }
        .feature-item {
            float: left;
            width: 100%;
            + .feature-item{
                margin-top: 60px;
            }
            .feature-icon {
                border-radius: 50%;
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
                width: 70px;
                height: 70px;
                line-height: 70px;
                text-align: center;
                font-size: 2.6rem;
                float: left;
                margin-right: 30px;
                span {
                    line-height: inherit;
                }
                + .feature-body{
                    width: calc(100% - 100px);
                    margin-top: -7px;
                }
            }
            .feature-body{
                width: 100%;
                float: left;
                .feature-title{
                    margin-top: 0;
                    font-size: 2.2rem;
                    font-weight: 400;
                }
            }
        }
        .col-md-4:first-child{
            .feature-item{
                .feature-icon{
                    float: right;
                    margin-right: 0;
                    margin-left: 30px;
                }
                .feature-body{
                    float: right;
                }
            }
        }
    }
}

/*** 2 column features ***/
.cps-column-2-feature{
    padding: 80px 0 40px;
    zoom: 1;
    position: relative;
    overflow: hidden;
    .cps-feature-item{
        margin-bottom: 40px;
        float: left;
        width: 100%;
    }
    .cps-feature-icon{
        display: inline-block;
        float: left;
        width: 60px;
        height: 60px;
        line-height: 58px;
        border-style: solid;
        border-width: 1px;
        border-radius: 50%;
        text-align: center;
        font-size: 2rem;
        margin-right: 30px;
        + .cps-feature-body{
            width: calc(100% - 90px);
        }
    }
    .cps-feature-body{
        float: left;
        width: 100%;
    }
    .cps-feature-title{
        font-size: 2.2rem;
        margin-top: -3px;
    }
    .cps-gray-bg &{
        .cps-feature-icon{
            color: #ffffff;
        }
    }
}
