// Variables
$baseFont: 'Open Sans', sans-serif;
$headingFont: 'Lato', sans-serif;
$baseFontColor: #262626;

//Colors
$primaryColor: #00aff0;
$primaryColor2: #99dff9;
$red: #ea4335;
$purple: #8b57d9;
$purple2: #32135c;